extends ../../base

block links
    link(rel='stylesheet' href='/css/sellerProducts.css')

block content
    div#title-wrapper
        h2.title Your Products
    main
        .container
            -products.forEach(product=>{
                .item
                    img(src=`${product.image}`, alt=`${product.name}`)
                    .details
                        div.name=product.name
                        div.price= `₹${product.price}`
                    a.button-edit(href=`/products/${product._id}/edit`) Edit
                    button.button-remove(data-id=`${product._id}`) Remove
            -});

    script(src='/js/sellerProducts.js')