extends ../base

block links
    link(rel='stylesheet' href='/css/order.css')

block content
    div#title-wrapper
        h2.title=`${user.role==='seller'?'Received Orders':'Your Orders'}`
    main
        .container
            -orders.forEach(order=>{
                a.item(href=`/orders/${order._id}`)
                    img(src=`${order.product.image}`, alt=`${order.product.name}`)
                    div.product-name=order.product.name
                    div.price= `₹${order.product.price}`
                    div.status=order.status
                    .button-more(href=`/orders/${order._id}`) More
            -});
            

